body{
	background:#34495E   ;
	background-size:cover;
	background-position:center;
}
a{
	color:#fff !important;
}
h1{
	color: #fff !important;
	margin-top:20px !important;
	text-align:center;
	text-transform: uppercase;
	margin-right:20%;
}
.btn, .btn-secondary{
	background-color: #4287f5;
}
